<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>

<!--<div id="AddProductWindow">-->
<!--<div id="AddProductContainer">-->
<!--<h1>Товар</h1>-->
<!--<b class="openCloseAddProduct" aria-hidden="true">x</b>-->
<div th:fragment="productEdit" id="ProductWindow">

    <!--<form action="/products/new" method="post">-->
    <!--<form action="/products/add" method="post" id="productEdit">-->
        <!--<form th:object="${product}" action="/products/{product.id}/add" method="post" id="productEdit">-->
    <!--th:href="@{'/products/'+${product.id}+'/edit'}"-->

    <!--<form-->
            <!--th:with="actionText=${product['new']} ? 'add' : 'edit'}"-->
            <!--th:object="${product}" action="'/products/'+{product.id}+actionText" method="post" id="productEdit">-->
    <!--th:with="actionText=${isNewProduct} ? 'new' : ${product.id}+'/edit'}"-->

            <!--<div th:text="${isNewProduct}"></div>-->

                    <!--th:with="actionText=${isNewProduct} ? 'new' : 'edit'"-->
                    <!--th:object="${product}" action="@{'/products/'+${actionText}}" method="post" id="productEdit">-->
    <form
                action="@{'/products/'+${product.id}+'/edit'}" method="post" id="productEdit">


        <label>Id:</label>
        <input required type="text" name="id" placeholder="Id" th:field="*{product.id}"><br/>

        <label>Наименование:</label>
        <input required type="text" name="name" placeholder="Наименование" th:field="*{product.name}"><br/>

        <label>Цена:</label>
        <input required type="text" name="price" placeholder="Цена" th:field="*{product.price}"><br/>

        <label>Категория:</label>
        <input required type="text" name="category" placeholder="Категория" th:field="*{product.category}"><br/>

                <!--<button-->
                        <!--th:with="text=${isNew} ? 'Добавить товар' : 'Сохранить товар'"-->
                        <!--type="submit" th:text="${text}">Добавть товар-->
                <!--</button>-->

        <!--<button-->
            <!--th:with="text=${isNewProduct} ? 'Добавить товар' : 'Сохранить товар'"-->
            <!--type="submit" th:text="${text}">Добавить товар-->
        <!--</button>-->
        <button
            type="submit">Редактировать товар
        </button>


    </form>

</div>
<!--</div>-->
<!--</div>-->


</body>

</html>