<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Интернет-магазин "АВРОРА". Самый большой выбор звездолетов и планетарных станций в 9 вселенных. В наличии и под заказ</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="js/products.js"></script>

    <script type="text/javascript" src="js/users.js"></script>

    <link rel="shortcut icon" href="images/favicon.ico" />


    <!--<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->

    <!--<th:edit="${"/images/pencil.png"}>-->
    <!--<th:url value="/images/delete.png" var="delete" />-->

</head>

<body>

<div id="header">
</div>

<div id="main" class="main">

    <div id="shoppingCart">
        <div id="cartItemsContainer">
            <h1>Корзина</h1>
            <b class="openCloseCart" aria-hidden="true">x</b>
            <div id="cartItems"></div>
            <div>Сумма товаров:
                <span id="productsAmount"></span>
            </div>
            <div>Скидка:
                <span id="discountSize"></span>%
                <span id="discountAmount"></span>
            </div>
            <div>Итого:
                <span id="productsTotal"></span>
            </div>
            <button id="registerOrder">Оформить заказ</button>
        </div>
    </div>

    <div id="searchWindow">
        <div id="searchItemsContainer">
            <h1>Поиск</h1>
            <b class="openCloseSearch" aria-hidden="true">x</b>
            <!--Найти:-->
            <!--<input id="findText">-->
            <!--<button id="findProducts" onclick="findProducts()">Найти</button>-->
            <!--<div id="searchItems"></div>-->

            <form method="post">
                Найти:
                <input id="findText">
                <button id="findProducts" onclick="findProducts()">Найти</button>
            </form>

            <div id="searchItems"></div>

        </div>
    </div>


    <div id="AddProductWindow">
        <div id="AddProductContainer">
            <h1>Товар</h1>
            <b class="openCloseAddProduct" aria-hidden="true">x</b>
            <div id="ProductWindow"></div>

        </div>
    </div>


    <!--c:forEach items="${categories}" var="category"-->
    <div th:each="category : ${categories}">

        <div class="category">
            <H2 th:text=${category.name}></H2>
            <hr>
        </div>

        <!--  Кнопки админа -->
        <button id="openCloseAddProduct" class = "openCloseAddProduct" th:onclick="newProduct()">Добавить товар</button>
        <!--  Кнопки админа (КОНЕЦ) -->

        <div id="result"></div>


        <ul class="products">

            <!--c:forEach items="${products}" var="product"-->
                <span th:each="product : ${products}">
                    <!--<th:each="product : ${products}">-->

                <!--c:if test="${category.id==product.category}"-->
                <div th:if="${category.id==product.category}">

                    <li class="product" th:id="@{'a'+${category.id}+${product.id}}">

                    <!--  Кнопки админа -->
                        <!--<button th:onclick="'crunchifyAjax('+${product.id}+')'" class = "openCloseAddProduct">Ajax</button>-->
                        <input type ="image" src="/images/pencil.png" th:onclick="'editProduct('+${product.id}+')'" class = "openCloseAddProduct">

                        <!--<input type ="image" src="/images/delete.png" th:onclick="'deleteProduct('+${product.id}+')'" class = "openCloseAddProduct">-->


                        <a th:href="@{'/products/'+${product.id}+'/delete'}">
                            <img src="/images/delete.png" title="Удалить товар" alt="Удалить товар">
                        </a>

                        <!--  Кнопки админа (КОНЕЦ) -->

                        <div class="visibleSection" th:id="@{'b'+${category.id}+${product.id}}" th:onclick="@{'showHiddenTab(\'a'+${category.id}+${product.id}+'\', \'b'+${category.id}+${product.id}+'\', \'c'+${category.id}+${product.id}+'\');'}">

                            <div class="image">
                                <!--th:href="@{/order/details(orderId=${o.id})}-->
                                <img th:src="@{'images/'+${product.image}}">
                            </div>

                            <div class="productName" th:text=${product.name}>
                            </div>
                        </div>

                        <div class="hiddenSection" th:id="@{'c'+${category.id}+${product.id}}" th:onclick="@{'hideHiddenTab(\'a'+${category.id}+${product.id}+'\', \'b'+${category.id}+${product.id}+'\', \'c'+${category.id}+${product.id}+'\');'}">

                            <div class="image">
                                <img th:src="@{'images/'+${product.image}}">
                            </div>


                            <div class="price" th:text=${product.price}>
                            </div>

                            <button class="add">Да, я хочу этот корабль!</button>

                        </div>

                    </li>
                </div>

            <!--/c:forEach-->
            </span>
            <!--</th>-->
        </ul>
    <!--/c:forEach-->
    </div>

</div>

<div id="footer">
</div>

<script>

        function openClose() {
            $('#shoppingCart').toggle();
        }

    </script>

<script>

function editProduct(productId) {
        /*$.ajax({
            url : '/products/'+productId+'/edit',
            success : function(data) {
                $('#result').html(data);
            }
        });*/

        var url = '/products/'+productId+'/edit';
        $("#ProductWindow").load(url);
    }

function newProduct(productId) {
        /*$.ajax({
            url : '/products/'+productId+'/edit',
            success : function(data) {
                $('#result').html(data);
            }
        });*/

        var url = '/products/new';
        $("#ProductWindow").load(url);
    }


    </script>


<script type="text/javascript" src="js/cart.js"></script>

<script type="text/javascript" src="js/search.js"></script>


</body>

</html>