<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>

<!--<div id="AddProductWindow">-->
    <!--<div id="AddProductContainer">-->
        <!--<h1>Товар</h1>-->
        <!--<b class="openCloseAddProduct" aria-hidden="true">x</b>-->
        <div th:fragment="productEdit" id="ProductWindow">
            это форма из файла!

            <div th:text = ${product.id}></div>
            <div th:text = ${product.name}></div>
            <!--<form action="/products/new" method="post">-->
            <form action="/products/add" method="post" id="productEdit">


                <label>Id:</label>
                <input required type="text" name="id" placeholder="Id">
                <br />

                <label>Наименование:</label>
                <input required type="text" name="name" placeholder="Наименование">
                <br />

                <label>Цена:</label>
                <input required type="text" name="price" placeholder="Цена"><br />

                <label>Категория:</label>
                <input required type="text" name="category" placeholder="Категория"><br />

                <!--input type="submit" value="Сохранить"-->
                <!--<button-->
                <!--th:with="text=${product['new']} ? 'Добавить товар' : 'Сохранить товар'"-->
                <!--type="submit" th:text="${text}">Добавить товар</button>-->
                <button type="submit">Добавить товар</button>

            </form>

        </div>
    <!--</div>-->
<!--</div>-->



</body>

</html>